.App {
  height: 100vh;
  /*width: 100vw;*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-basis: auto;
  margin-left: 10px;
  margin-top: 10px;
  justify-content: flex-start;

}

.cards{

  /*width: 50vw;*/

  background-color: lightgray;
  margin-bottom: 20px;
  margin-right: 4px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.cards:hover{

  background-color: salmon;

}


p{
  margin: 0;
}

h4{
  margin-left: 4px;
  margin-bottom: 4px;
  margin: 0;
}

h1{
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

a{
  text-decoration: none;
}

a:visited{
  color: black;
}

a:link{
  color: black;
}

.countrynames{
  font-weight: bold;
  margin-left: 7px;

}

.capitalRegion{
  margin-left: 7px;
}

.bar{
  background-color: black;
  height: 13px;
  border-radius: 4px;
  margin-bottom: 14px;
}

.searchBar{
  margin-bottom: 10px;
  width: 40%;
  height: 5%;
  font-size: 24px;
}

.back{
  font-size: 24px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 4px;
}

.back:hover{
  color: teal;
}

input[type=text] {
  border: none;
  border-bottom: 2px solid black;
}
